{% extends 'base.html' %}

{% block pagetitle %}{{ produit.nom }}{% endblock %}

{% block content %}
    {% block notice %}{{ block.super }}{% endblock notice %}
    <fieldset>
        <legend>Détail du produit</legend>
        <h3>{{ produit.nom }}</h3>
        <p><strong>Prix :</strong> {{ produit.prix }}€ <br/>
            <strong>Note :</strong> {{ produit.note }}/5 <br/></p>
        <p>
            {% if produit.description %}
                <em>{{ produit.description }}</em>
            {% else %}
                <em>Pas de description.</em>
            {% endif %}
        </p>

        <form role="form" class="add_to_cart form-group" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-link">Ajouter au panier</button>
        </form>

    </fieldset>
{% endblock %}