{% extends 'base.html' %}

{% block pagetitle %}Contact{% endblock %}

{% block content %}
    <h1>Contact</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form role="form" class="contact" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}