{% extends 'base.html' %}

{% block pagetitle %}Accueil{% endblock %}

{% block content %}
    {% block notice %}{{ block.super }}{% endblock notice %}
    <fieldset>
        <legend>Derniers produits ajoutés</legend>
        {% for produit in produits %}
            <p><a href="{% url 'show' id=produit.id %}"> {{ produit.nom }}</a><br/>
                vendu par
                {% for vendeur in produit.vendeurs.all %}
                    {{ vendeur.nom }}
                {% endfor %} <br/>
                Prix : {{ produit.prix }}€ <br/>
                Note : {{ produit.note }}/5</p>
        {% empty %}
            <p>Pas de produits à afficher.</p>
        {% endfor %}
    </fieldset>

{% endblock %}