{% extends 'base.html' %}

{% block pagetitle %}Accueil{% endblock %}

{% block content %}
    {% block notice %}{{ block.super }}{% endblock notice %}
    <fieldset>
        <legend>Dernier produit ajouté</legend>
        {% for produit in produits %}
            <p><a href="{% url 'show' id=produit.id %}"> {{ produit.nom }}</a><br/>
                vendu par {{ produit.vendeur.nom }} <br/>
                Prix : {{ produit.prix }}€ <br/>
            </p>
        {% empty %}
            <p>Pas de produits à afficher.</p>
        {% endfor %}
    </fieldset>
    <div class="rss">
        {% load static %}<a href="{% url 'latest' %}"><img src="{% static "mySweetCompany/flux_rss.png" %}" alt="Flux RSS" height="18" width="18"/></a>
    </div>
{% endblock %}