{% extends 'base.html' %}

{% block pagetitle %}Connexion{% endblock %}

{% block content %}
    {% block notice %}{{ block.super }}{% endblock notice %}
    <fieldset>
    <legend>Connexion</legend>
    <form role="form" class="contact" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
        <p class="notice">Pas encore inscrit ? <a href="{% url 'inscription' %}">Inscrivez-vous !</a></p>
    </fieldset>
{% endblock %}