{% extends 'base.html' %}

{% block pagetitle %}Liste des produits{% endblock %}

{% block content %}
    {% block notice %}{{ block.super }}{% endblock notice %}
    <fieldset>
        <legend>Liste des produits</legend>
        {% for produit in produits %}
            <p><a href="{% url 'show' id=produit.id %}"> {{ produit.nom }}</a><br/>
                vendu par
                {% for vendeur in produit.vendeurs.all %}
                    {{ vendeur.nom }}
                {% endfor %} <br/>
                Prix : {{ produit.prix }}€ <br/>
            </p>
            <div class="row-product">
                <form role="form" class="add_to_cart form-group" action="/produit/{{ produit.id }}/add" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-link">Ajouter au panier</button>
                </form>
            </div>
        {% empty %}
            <p>Pas de produits à afficher.</p>
        {% endfor %}
    </fieldset>
{% endblock %}